<div style="background: url(../../../assets/images/slide_h3.jpg); height: 1080px">

  <button class="btn btn-dark text-white" style="margin:5px;color: #4f2216" routerLink="customer/list">
    Quay trở về trang chủ
  </button>
  <div class="d-block w-25 container mb-2"
       style="width:500px ;margin: 20px auto;padding: 20px 20px;background-color: #f8f9fa; border-radius:10px ">
    <form [formGroup]="reactiveForm" (ngSubmit)="createCustomerWithReactive()">
      <legend>Đăng ký tài khoản mới</legend>
      <div class="mb-3">
        <label class="form-label">Nhập email</label>
        <p style="color: red" *ngIf="reactiveForm.controls.email.hasError('required') && reactiveForm.controls.email.dirty">Không được để trống</p>
        <input type="text" class="form-control" formControlName="email">
      </div>
      <div class="mb-3">
        <label class="form-label">Nhập password</label>
        <p style="color: red" *ngIf="reactiveForm.controls.password.hasError('required') && reactiveForm.controls.password.dirty">Mật khẩu phải có ít nhất 6 ký tự</p>
        <p style="color: red" *ngIf="reactiveForm.controls.password.hasError('minlength')">Mật khẩu phải có ít nhất 6 ký tự</p>        <input type="text" class="form-control" formControlName="password">
      </div>
      <div class="mb-3">
        <label class="form-label">Nhập confirmPassword</label>
        <p style="color: red" *ngIf="reactiveForm.controls.confirmPassword.hasError('required') && reactiveForm.controls.confirmPassword.dirty">Mật khẩu phải có ít nhất 6 ký tự</p>
        <p style="color: red" *ngIf="reactiveForm.controls.confirmPassword.hasError('minlength')">Mật khẩu phải có ít nhất 6 ký tự</p>
        <p style="color: red" *ngIf="reactiveForm.hasError('invalidPassword')">Mật khẩu không khớp</p>
        <input type="text" class="form-control" formControlName="confirmPassword">
      </div>
      <div class="mb-3">
        <label class="form-label">Nhập country</label>
        <p style="color: red" *ngIf="reactiveForm.controls.country.hasError('required') && reactiveForm.controls.country.dirty">Chọn 1 option</p>
        <select  formControlName="country" type="text">
          <option [selected]="reactiveForm" value="vietnam">VietNam</option>
          <option value="canada">Canada</option>
          <option value="myanma">Myanma</option>
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label">Nhập age</label>
        <p style="color: red" *ngIf="reactiveForm.controls.age.hasError('required') && reactiveForm.controls.country.dirty">Không được để trống</p>
        <input type="text" class="form-control" formControlName="age">
      </div>
      <div class="mb-3">
        <label class="form-label">Nhập gender</label>
        <p style="color: red" *ngIf="reactiveForm.controls.gender.hasError('required')&& reactiveForm.controls.country.dirty">Chọn giới tính của bạn</p>
        <select  formControlName="gender" type="text">
          <option [selected]="reactiveForm" value="nam">Nam</option>
          <option value="nu">Nu</option>
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label">Nhập phone</label>
        <p style="color: red" *ngIf="reactiveForm.controls.phone.hasError('required')&& reactiveForm.controls.country.dirty">Không được để trống</p>
        <input type="text" class="form-control" formControlName="phone">
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
