<p>product-list works!</p>
<div class="container-fluid" style="background: url(../../../assets/images/slide_h13.jpg);
background-size:cover; height: 700px">

  <button class="btn btn-info" routerLink="/create"> Thêm mới</button>
  <table class="table table-bordered" style="background-color: #f8f9fa;color: black ; border-radius: 10px">
    <thead style="background-color: #f8f9fa;color: black">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tên sản phẩm</th>
      <th scope="col">số lượng hàng trong kho</th>
      <th scope="col">giá</th>
      <th scope="col">nhãn hiệu</th>
      <th scope="col">màu </th>
      <th scope="col">Sửa </th>
      <th scope="col">Xóa </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of productList ">
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.stock}}</td>
      <td>{{product.price}}</td>
      <td>{{product.brands}}</td>
      <td>{{product.color}}</td>

      <td>
        <button class="btn btn-outline-warning" [routerLink]="['/update',product.id]">Sửa</button>
      </td>
      <td>
        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal"
                (click)="deleteProduct(product)">
          Xóa
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Xoa Customer</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>bạn muốn xóa {{product.name}} không</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">dong</button>
          <button type="button" class="btn btn-primary" (click)="deleteProduct(product.id)">xoa</button>
        </div>
      </div>
    </div>
  </div>
</div>
