<div class="container-fluid">
  <div class="row">
    <div class="col-3 header">
            <span>
                <a class="navbar-brand" href="#">
                    <img src="../../../assets/images/logo_furama.png" alt="" width="122" height="116">
                </a>
            </span>
    </div>
    <div class="col-5 header text-center fs-1">Customer</div>
    <div class="col-4 header position-relative"><span class="position-absolute top-50 start-50 translate-middle">Ngô Đình Nhật Tuấn</span>
    </div>
  </div>
</div>
