<div style="background: url(../../../assets/images/slide_h3.jpg); height: 1080px">
  <button class="btn btn-dark text-white" style="margin:5px;color: #4f2216" routerLink="">
    Quay về trang chủ
  </button>
  <div class="d-block w-25  container mb-2  "
       style="width:500px ;margin: 20px auto;padding: 20px 20px;background-color: #f8f9fa; border-radius:10px ">
    <div *ngIf="productForm!=undefined">
      <form [formGroup]="productForm" (ngSubmit)="submit()">
        <legend>Đăng ký sản phẩm mới</legend>
        <div class="mb-3">
          <label class="form-label">Nhập id</label>
          <input type="text" class="form-control" formControlName="id">
        </div>
        <div class="mb-3">
          <label class="form-label">Nhập tên sản phẩm</label>
          <input type="text" class="form-control" formControlName="name">
        </div>
        <div class="mb-3">
          <label class="form-label">Nhập số hàng trong kho</label>
          <input type="text" class="form-control" formControlName="stock">
        </div>
        <div class="mb-3">
          <label class="form-label">Nhập nhãn hiệu</label>
          <input type="text" class="form-control" formControlName="brands">
        </div>
        <div class="mb-3">
          <label class="form-label">Nhập giá</label>
          <input type="text" class="form-control" formControlName="price">
        </div>
        <div class="mb-3">
          <label class="form-label">Nhập màu</label>
          <input type="text" class="form-control" formControlName="color">
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
