<div class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-expand-lg navbar-light bg-light   ">
      <div class="col-4"></div>
      <div class="col-4">
        <div class="container-fluid d-flex justify-content-center ">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle float-end" href="#" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="float-end "><a class="text-decoration-none"
                                                                href="http://localhost:8080">Home</a></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle float-end" href="#" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="float-end"><a class="text-decoration-none"
                                                               href="http://localhost:8080/customer">Customer</a></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-4"></div>
    </nav>
  </div>
</div>
<div style="background: url(../../../assets/images/slide_h3.jpg); height: 1500px">

  <button class="btn btn-dark text-white" style="margin:5px;color: #4f2216" routerLink="/facility/list">
    Quay trở về trang chủ
  </button>
  <div class="d-block w-25 container mb-2"
       style="width:500px ;margin: 20px auto;padding: 20px 20px;background-color: #f8f9fa; border-radius:10px ">
    <form [formGroup]="facilityForm" (ngSubmit)="submit()">
      <legend>Thêm mới dịch vụ</legend>
      <div class="mb-3">
        <label class="form-label"> Loại Dịch vụ</label>
        <select class="form-control form-control-lg" formControlName="facilityTypeId">
          <option *ngFor="let item of facilityType" [ngValue]="item"> {{item.name}} </option>
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label"> Kiểu thuê</label>
        <select class="form-control form-control-lg" formControlName="rentTypeId">
          <option *ngFor="let item of rentType" [ngValue]="item"> {{item.name}} </option>
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label">Id</label>
        <input type="text" class="form-control" formControlName="id">
        <span style="color: #ff0000"
              *ngIf="facilityForm.controls.address.hasError('required')&&facilityForm.controls.address.touched">
            Không được để trống
          </span>
      </div>
      <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" formControlName="name">
        <span style="color: #ff0000"
              *ngIf="facilityForm.controls.address.hasError('required')&&facilityForm.controls.address.touched">
            Không được để trống
          </span>
      </div>
      <div class="mb-3">
        <label class="form-label">area</label>
        <input type="text" class="form-control" formControlName="area">
        <span style="color: #ff0000"
              *ngIf="facilityForm.controls.address.hasError('required')&&facilityForm.controls.address.touched">
            Không được để trống
          </span>
      </div>
      <div class="mb-3">
        <label class="form-label">cost</label>
        <input type="text" class="form-control" formControlName="cost">
        <span style="color: #ff0000"
              *ngIf="facilityForm.controls.address.hasError('required')&&facilityForm.controls.address.touched">
            Không được để trống
          </span>
      </div>
      <div class="mb-3">
        <label class="form-label">maxPeople</label>
        <input type="text" class="form-control" formControlName="maxPeople">
        <span style="color: #ff0000"
              *ngIf="facilityForm.controls.address.hasError('required')&&facilityForm.controls.address.touched">
            Không được để trống
          </span>
      </div>
      <div class="mb-3">
        <label class="form-label">standardRoom</label>
        <input type="text" class="form-control" formControlName="standardRoom">
        <span style="color: #ff0000"
              *ngIf="facilityForm.controls.address.hasError('required')&&facilityForm.controls.address.touched">
            Không được để trống
          </span>
      </div>
      <div class="mb-3">
        <label class="form-label">descriptionOtherConvenience</label>
        <input type="text" class="form-control" formControlName="descriptionOtherConvenience">
        <span style="color: #ff0000"
              *ngIf="facilityForm.controls.address.hasError('required')&&facilityForm.controls.address.touched">
            Không được để trống
          </span>
      </div>
      <div class="mb-3">
        <label class="form-label">poolArea</label>
        <input type="text" class="form-control" formControlName="poolArea">
        <span style="color: #ff0000"
              *ngIf="facilityForm.controls.address.hasError('required')&&facilityForm.controls.address.touched">
            Không được để trống
          </span>
      </div>
      <div class="mb-3">
        <label class="form-label">numberOfFloor</label>
        <input type="text" class="form-control" formControlName="numberOfFloor">
        <span style="color: #ff0000"
              *ngIf="facilityForm.controls.address.hasError('required')&&facilityForm.controls.address.touched">
            Không được để trống
          </span>
      </div>
      <div class="mb-3">
        <label class="form-label">facilityFree</label>
        <input type="text" class="form-control" formControlName="facilityFree">
        <span style="color: #ff0000"
              *ngIf="facilityForm.controls.address.hasError('required')&&facilityForm.controls.address.touched">
            Không được để trống
          </span>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
